# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual envs
.venv/
venv/
env/
ENV/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

reports/
*.html.bak
result*.json

.env
.env.*
*.pem
*.key

*forrás anyag/
*forrás_anyag/

vbeye.toml

targets*.txt